@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wix+Madefor+Text:wght@400;500;700&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-wix: 'Wix Madefor Text', sans-serif;
  --ad-gray: #6e6e6e;
  --ad-box-shadow: 0 1px 7px 1px rgba(255,255,255,0.6);
}

@font-face {
  font-family: 'Hass75';
  src: url('/fonts/hass/NeueHaasGrotText-75Bold-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'Hass65';
  src: url('/fonts/hass/NeueHaasGrotText-65Medium-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'AltaRegular';
  src: url('/fonts/alta/Alta_regular.woff') format('woff');
}

@theme inline {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-wix: var(--font-wix);
  --font-alta: 'AltaRegular';
  --font-hass75: 'Hass75';
  --font-hass65: 'Hass65';
  --font-inter: 'Inter', sans-serif;
  --font-arial: 'Arial';
  --backdrop-filter: blur(1px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #FFCD1A
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Hass75';
  font-size: 24px;
}

/* For most browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    box-shadow: 0 0 0 1000px transparent inset !important;
    text-fill-color: white !important;
}

input:autofill {
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: white;
}

button {
  cursor: pointer;
}

.spline-container {
  position: absolute;
  /* top: -25%;
  width: 150%;
  height: 150%; */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 100%;
}

.spline-container-left {
  left: -35%;
}

.spline-container-right {
  right: -35%;
}

.image-mask {
  mask-image: url("/image-mask.svg");
  mask-position: 0% 0%;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.image-mask2 {
  mask-image: url("/image-mask.svg");
  mask-position: 0% 0%;
  mask-size: 100% 120%;
  mask-repeat: no-repeat;
}
.shadow-light{
  box-shadow: 0 2.29px 7.61px 1.29px #c2c2c2;
}
.shadow-down{
  box-shadow: 0px 0.45px 6.32px 3.16px #00000099;
}
.agency-bg {
  color: --alpha(#000 / 30%);
}

.resource-bg{
  background: url("/resources-bg.mp4") no-repeat center/center cover;
}

.zoom-35 {
  zoom: 0.35;
}

@media (min-width: 768px) {
  .zoom-60 {
    zoom: 0.6;
  }
}
@media (min-width: 1440px) {
  .zoom-90 {
    zoom: 0.9;
  }
}
@media (min-width: 1920px) {
  .zoom-80 {
    zoom: 0.8;
  }
}
