@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Hass75';
  src: url('/fonts/hass/NeueHaasGrotText-75Bold-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'AltaRegular';
  src: url('/fonts/alta/Alta_regular.woff') format('woff');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #FFCD1A
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Hass75';
  font-size: 24px;
}

@media(min-width: 1367px) {
  section.home .left-content {
    padding-left: 200px !important;
  }

  section.home .right-content {
    padding-right: 200px !important;
  }
}

.spline-container {
  position: absolute;
  top: -25%;
  width: 150%;
  height: 150%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 100%;
}

.spline-container-left {
  left: -25%;
}

.spline-container-right {
  right: -25%;
}