/* On screens that are more than 1920px including 2560px */
@media screen and (min-width: 1920px) {
  .page-header {
    min-height: 100vh;
  }
  .main-heading {
    font-size: 20.213rem;
    line-height: 25rem;
  }
}

/* On screens that are 1920px or less */
@media screen and (max-width: 1920px) {
  .page-header {
    min-height: 100vh;
  }
  .main-heading {
    font-size: 15.125rem;
    line-height: 18.75rem;
  }
}

/* On screens that are 1440px or less */
@media screen and (max-width: 1440px) {
  .page-header {
    min-height: 100vh;
  }
  .main-heading {
    font-size: 11.375rem;
    line-height: 14.063rem;
  }
}

/* On screens that are 768px or less */
@media screen and (max-width: 767px) {
  .page-header {
    min-height: 14.648rem;
  }
  .main-heading {
    font-size: 3rem;
    line-height: 3.662rem;
  }
}