/* On screens that are more than 1920px including 2560px */
@media screen and (min-width: 1920px) {
  .page-header {
    min-height: 100rem;
  }
}

/* On screens that are 1920px or less */
@media screen and (max-width: 1920px) {
  .page-header {
    min-height: 75rem;
  }
}

/* On screens that are 1440px or less */
@media screen and (max-width: 1440px) {
  .page-header {
    min-height: 56.25rem;
  }
}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
  .page-header {
    min-height: 14.648rem;
  }
}