/* On screens that are more than 1920px including 2560px */
@media screen and (min-width: 1920px) {
  .faq-section {
    padding: 3.333rem 3.833rem;
  }
  .faqs {
    padding: 8.333rem 13rem;
    min-height: 64.167rem;
  }
  .footer {
    font-size: 24px;
    line-height: 34.67px;
    padding-top: 3.333rem;
  }
}

/* On screens that are 1920px or less */
@media screen and (max-width: 1920px) {
  .faq-section {
    padding: 2.5rem 2.875rem;
  }
  .faqs {
    padding: 6.25rem 9.75rem;
    min-height: 48.125rem;
  }
  .footer {
    font-size: 18px;
    line-height: 26px;
    padding-top: 2.5rem;
  }
}

/* On screens that are 1440px or less */
@media screen and (max-width: 1440px) {
  .faq-section {
    padding: 1.875rem 2.156rem;
  }
  .faqs {
    padding: 4.688rem 7.313rem;
    min-height: 36.094rem;
  }
  .footer {
    font-size: 14px;
    line-height: 19.5px;
    padding-top: 1.875rem;
  }
}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
  .faq-section {
    padding: 1.5rem;
  }
  .faqs {
    padding: 1.5rem;
    min-height: 37.063rem;
  }
  .footer {
    padding-top: 1.5rem;
  }
}