/* On screens that are more than 1920px including 2560px */
@media screen and (min-width: 1920px) {
  .layout {
    padding-top: 13.75rem;
  }
}

/* On screens that are 1920px or less */
@media screen and (max-width: 1920px) {
  .layout {
    padding-top: 10.25rem;
  }
}

/* On screens that are 1440px or less */
@media screen and (max-width: 1440px) {
  .layout {
    padding-top: 7.758rem;
  }
}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
  .layout {
    padding-top: 5.625rem;
  }
}